<style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="https://https://fonts.google.com/specimen/Montserrat">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
body {
  font-family: Montserrat;
  background-color: #B5838D;
}
* {
box-sizing: border-box;
}

.header {
border: 10px;
padding: 15px;
}

.menu {
width: 20%;
float: right;
padding: 30px;
border: .5px;
}

.main {
width: 80%;
float: left;
padding: 30px;
border: 2px;
}
</style>
