
<head>
  <title> Week 2 Reflection </title>
  <style>
  body {
    font-family: Montserrat;
    background-color: #FAD8D6;
  }
  div.a {
  	text-align: center;
  }
  h1 {text-align: center;}
p {text-align: left;}
div {text-align: center;}
  </style>
  </head>
<body>
<div class="header">
<h1>Communication</h1>
<p>
My 3 learning objectives:
<br>
Learn to communicate my thoughts in a more academic manner. Edit my thoughts- I can really ramble. Still have not mastered holding my tongue at 33, although perhaps its not my truth.
<br>
Create a visual style that reflects who I am- explore graphic design and teach myself Adobe Suite.
<br>
Create a digital extension/representation of myself. Be more apt to dive into the digital abyss.
<br>
</p>
<img src="Images/storyboardmin.jpg" alt "I fucked up :/">
