This week

<head>
  <title> Week 9 Reflection </title>
  <style>
  body {
    font-family: Montserrat;
    background-color: #FAD8D6;
  }
  h1 {text-align: center;}
p {text-align: left;}
div {text-align: center;}
  </style>
  </head>
<body>
<div class="header">
<h1>Reflection Week 4 February 8-12</h1>
<p>
<img src="Images/questions.jpg" alt "I fucked up :/">
  <br>
<img src="Images/nonhumanpt2.jpg" alt "I fucked up :/">
<br>
<img src="Images/mondayexercisept1.jpg" alt "I fucked up :/">
<br>
